*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: monospace;
  background-color: rgb(0, 0, 0);
}
nav{
  background:rgb(26, 21, 31);
width: 100%;
height: 80px;
display: flex;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.label{
color: wheat;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;


}
.ul{
 
  margin-right: 20px;
    
}
li{
  display: inline-block;
  line-height: 80px;
 margin: 0 5px;
  letter-spacing: 1px;
}
a{
  padding: 12px;
  color: white;
  font-size: 17px;
 text-transform: uppercase;
}
/*  2nd part  */
.subhead{
  /* height: auto; */
  /* background-image: url(../images/cofee-2.jpg); */
  /* width: 100%; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-color: red; */
}
.texts{
  position: absolute;
  top: 215px;
  /* background-color: red; */
  height:200px;
  width:45%;
  left:12px;
  text-align:center;
  overflow: hidden;
  text-overflow: "----";
}
 h1{
 
  font-family: monospace;
  word-spacing: 6px;
}
p{
  padding-top: 12px;
  font-family: monospace;
  word-spacing: 6px;
}  
.subimag{
  width: 100%;
    height: 400px;
}
/* this is 3rd and 4th . card */

.cardpar{
  display: flex;
  width: 80%;
    margin-left: 10%;
}
.card {
  
  box-shadow: 0 4px 8px 0 rgba(41, 38, 38, 0.841);
  transition: 0.2s;
  width: 23%;
  border: 2px solid rgba(153, 97, 97, 0.725);
  margin-left: 20px;
  margin-top: 30px;
  color: cadetblue;
}

.card:hover {
  box-shadow: 3px 4px 13px 2px rgb(48 161 105 / 78%);
   background-color: rgba(91, 58, 58, 0.727);
   color: white;
}

.contr {
  padding: 9px 16px;
  text-align: center;
 
}
.cardimg{
  width: 100%;
    height: 280px;
}
.cname{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 8px;
  font-size: 18px;
    color: rgba(215, 99, 57, 0.821);
}
.cofflist{
  color: cadetblue;
  text-align: center;
  margin-top: 130px;
  font-size: 20px;
  font-family: emoji;
}
.cofflist2{
  color: cadetblue;
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-family: emoji;
}
/* this is footer . card */
.footer{
  margin-top: 12px;
  width: 100%;
 
  height: 250px;
  background:rgb(26, 21, 31);
display: flex;
color: white;
justify-content: center;
}
.box1{margin: 10px;
  padding: 5px;
  width: 420px;
  text-align: center;
  overflow: hidden;
}
.fname{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 8px;
  font-size: 23px;
    color: rgba(215, 99, 57, 0.821);
   
}
.fnamesub{
  color: #768ccdbd;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 2px;
  padding-top: 12px;
}
p{font-family: 'Times New Roman', serif;}