*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: monospace;
  background-color: #bae9f0;
}
/* src/Navbar.css */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100px;
  background-color: #77B0AA;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;

}
.menu{
  list-style: none;
  display: flex;



}
.mitem a{
 margin-left: 40px;
font-size: 1.3vw;
font-family: sans-serif;
color: black;
letter-spacing: 2px;
}
.logo{
  font-size: 1.5vw;
font-family: sans-serif;
color: black;
letter-spacing: 2px;
font-weight: 900;
}

/*  2nd part  slider */

 /*                 this is for slider  */
 .carousel {
  
  position: relative;

  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  /* border: 2px solid red; */
 
}
.imgSlider{
  margin-top: 100px;
  width: 100%;
 height: 400px;
  display: block;
  border: 2px solid grey;
  /* box-shadow: 20px 8px 20px 4 px; */
  border-radius: 10px;
}

/* -----------------------------this is 3rd and 4th . card */

.cardpar{
  display: flex;
  width: 100%;
   /* margin-left: 12px;
   margin-right: 12px; */
   /* padding-top: 15px; */
   /* background-color: red; */
   justify-content: center;
   padding: 15px;
  }
  #cardSec2{
    
   margin-left: 10px;
   /* margin-right: 10px; */
  }

  #cardSec{
    
    margin-left: 7px;
    /* margin-right: 7px; */
   }
 
   #cardSec3{
    
    margin-left: 10px;
    /* margin-right: 10px; */
   }
 
.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(41, 38, 38, 0.841);
  transition: 0.2s;
  width: 18%;
  border: 2px solid rgba(153, 97, 97, 0.725);
 /* margin-left: 16px; */
  color:white;
background-color: rgb(34, 30, 30);
}

.card:hover {
  box-shadow: 3px 4px 13px 2px rgb(29, 48, 35);
   background-color:rgba(2, 37, 36, 0.493);
  color: black;


}
p{font-family: 'Times New Roman', serif;
  /* color: black; */
  font-size: small;
 padding-top: 12px;
 padding-bottom: 8px;
}

.contr {
  padding: auto;
  text-align: center;
 
}
.cardimg{
  width: 100%;
    height:230px;
   
}
.cname{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 4spx;
  font-size: 16px;
  padding-top: 14px;
    /* color: rgba(0, 0, 0, 0.479); */
}
.cofflist{
  color: black;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: emoji;
}
.cofflist2{
  color:black;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: emoji;
}
                /* this is footer . card */
.footer{
  margin-top: 25px;
  width: 100%;
  margin-bottom: 0;
  height: auto;
  background-color:#77B0AA ;
display: flex;
color: white;
justify-content: center;

}
.box1{
  padding-top: 30px;
  padding-bottom: 20px;
  width: max-content;
  text-align: center;
  overflow: hidden;
  padding-right: 2px;
  padding-left: 2px;
  height: auto;
  color: black;}
.fname{
  font-family: 'Times New Roman', serif;;
  word-spacing: 8px;
  font-size: 13px;
    color:black;
   
}
.fnamesub{
  /* color: #1a1b20; */
 font-size:12px;
  font-family: 'Times New Roman', serif;;
  word-spacing: 2px;
  padding-top: 12px;
}
.fpagr{font-family: 'Times New Roman', serif;
  /* color: black; */
  font-size: small;
 padding-top: 12px;
}
.btfoot{
  text-align: center;
  background-color: #003C43;
  height:  auto;
 color: wheat;
width: 100%;
}
.btfoottxt{
  font-size: 13px;
  font-family: 'Times New Roman', serif;;
  word-spacing: 2px;
  padding: 20px;
}


