/* * {
    margin: 0;
    padding: 0;
} */

.hdr {
   
}
.log {
    position: relative;
    left: 130px;
    height: 120px;
   
    background-image: url(../images/logo.png);
    width: 150px;
    background-size: cover;
    /* background-repeat: no-repeat    ; */
    
 }

.optList {
  
}

.tit {
 

}

